In [5]:
import pandas as pd
import numpy as np

In [6]:
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences
from tensorflow.keras.utils import to_categorical

In [7]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Embedding, Bidirectional, LSTM, Dense

In [8]:
data = pd.read_csv('/content/spam.csv', encoding="ISO-8859-1")

In [9]:
data.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [10]:
data.shape

(5572, 5)

In [11]:
data.rename({"v2": "Text"}, axis=1, inplace=True)

In [12]:
data.head()

,v1,Text,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

The dataset I am using is spam related data, which is useful for classification tasks. But I'm using one column
from the dataset that is "**Test**" column.

In [13]:
data['Text'].isnull().sum()

0

**Cleaning the data**
We can see they are some unwanted words and characters in it, which are not useful to model and also decrease our model accuracy

In [14]:
data['Text'] = data['Text'].apply(lambda x: x.replace(u'\xa0',u' '))
data['Text'] = data['Text'].apply(lambda x: x.replace('\u200a',' '))

In [15]:
data = np.array(data['Text'])

In [16]:
tokenizer = Tokenizer(oov_token='<oov>')
tokenizer.fit_on_texts(data)
totalWords = len(tokenizer.word_index) + 1

print("words count: ", len(tokenizer.word_counts))
print('\n\nWord indexes:', len(tokenizer.word_index))

words count:  8920


Word indexes: 8921

In [17]:
sequence = tokenizer.texts_to_sequences(data)

In [18]:
input_seq = []
for i in sequence:
    for j in range(1, len(i)):
        N_gram = i[:j+1]
        input_seq.append(N_gram)

In [19]:
max_seq = max([len(i) for i in input_seq])

new_data = pad_sequences(input_seq, maxlen=max_seq, dtype=np.float32, padding='pre')

In [20]:
new_data[0]

array([  0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,
         0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,
         0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,
         0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,
         0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,
         0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,
         0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,
         0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,
         0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,
         0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,
         0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,
         0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,
         0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,
         0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,
         0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,
         0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,
         0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,
        51., 470.], dtype=float32)

In [21]:
features, labels = new_data[:, :-1], new_data[:, -1]
labels = to_categorical(labels, num_classes=totalWords)

In [22]:
print(len(features), len(labels))

82439 82439

In [23]:
model = Sequential()
model.add(Embedding(totalWords, 150, input_length = max_seq-1))
model.add(Bidirectional(LSTM(200)))
model.add(Dense(totalWords, activation='softmax'))
model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])

In [24]:
model.fit(features, labels, epochs=75, verbose=1)

Epoch 1/75
2577/2577 [==============================] - 73s 25ms/step - loss: 6.8203 - accuracy: 0.0491
Epoch 2/75
2577/2577 [==============================] - 66s 26ms/step - loss: 5.7566 - accuracy: 0.1142
Epoch 3/75
2577/2577 [==============================] - 67s 26ms/step - loss: 4.9656 - accuracy: 0.1795
Epoch 4/75
2577/2577 [==============================] - 69s 27ms/step - loss: 4.3145 - accuracy: 0.2419
Epoch 5/75
2577/2577 [==============================] - 69s 27ms/step - loss: 3.7624 - accuracy: 0.2994
Epoch 6/75
2577/2577 [==============================] - 69s 27ms/step - loss: 3.2893 - accuracy: 0.3620
Epoch 7/75
2577/2577 [==============================] - 69s 27ms/step - loss: 2.8821 - accuracy: 0.4248
Epoch 8/75
2577/2577 [==============================] - 69s 27ms/step - loss: 2.5361 - accuracy: 0.4848
Epoch 9/75
2577/2577 [==============================] - 69s 27ms/step - loss: 2.2413 - accuracy: 0.5355
Epoch 10/75
2577/2577 [==============================] - 69s 27ms/step - loss: 1.9892 - accuracy: 0.5803
Epoch 11/75
2577/2577 [==============================] - 68s 26ms/step - loss: 1.7701 - accuracy: 0.6237
Epoch 12/75
2577/2577 [==============================] - 69s 27ms/step - loss: 1.5797 - accuracy: 0.6610
Epoch 13/75
2577/2577 [==============================] - 68s 27ms/step - loss: 1.4103 - accuracy: 0.6949
Epoch 14/75
2577/2577 [==============================] - 68s 27ms/step - loss: 1.2672 - accuracy: 0.7247
Epoch 15/75
2577/2577 [==============================] - 69s 27ms/step - loss: 1.1390 - accuracy: 0.7536
Epoch 16/75
2577/2577 [==============================] - 68s 27ms/step - loss: 1.0294 - accuracy: 0.7750
Epoch 17/75
2577/2577 [==============================] - 68s 26ms/step - loss: 0.9331 - accuracy: 0.7959
Epoch 18/75
2577/2577 [==============================] - 68s 27ms/step - loss: 0.8488 - accuracy: 0.8139
Epoch 19/75
2577/2577 [==============================] - 68s 27ms/step - loss: 0.7790 - accuracy: 0.8285
Epoch 20/75
2577/2577 [==============================] - 68s 26ms/step - loss: 0.7150 - accuracy: 0.8430
Epoch 21/75
2577/2577 [==============================] - 68s 26ms/step - loss: 0.6631 - accuracy: 0.8530
Epoch 22/75
2577/2577 [==============================] - 67s 26ms/step - loss: 0.6169 - accuracy: 0.8634
Epoch 23/75
2577/2577 [==============================] - 69s 27ms/step - loss: 0.5741 - accuracy: 0.8728
Epoch 24/75
2577/2577 [==============================] - 68s 26ms/step - loss: 0.5450 - accuracy: 0.8792
Epoch 25/75
2577/2577 [==============================] - 68s 26ms/step - loss: 0.5150 - accuracy: 0.8846
Epoch 26/75
2577/2577 [==============================] - 69s 27ms/step - loss: 0.4930 - accuracy: 0.8900
Epoch 27/75
2577/2577 [==============================] - 68s 26ms/step - loss: 0.4701 - accuracy: 0.8933
Epoch 28/75
2577/2577 [==============================] - 69s 27ms/step - loss: 0.4562 - accuracy: 0.8958
Epoch 29/75
2577/2577 [==============================] - 69s 27ms/step - loss: 0.4423 - accuracy: 0.8972
Epoch 30/75
2577/2577 [==============================] - 67s 26ms/step - loss: 0.4286 - accuracy: 0.9004
Epoch 31/75
2577/2577 [==============================] - 68s 26ms/step - loss: 0.4150 - accuracy: 0.9038
Epoch 32/75
2577/2577 [==============================] - 67s 26ms/step - loss: 0.4076 - accuracy: 0.9043
Epoch 33/75
2577/2577 [==============================] - 67s 26ms/step - loss: 0.4032 - accuracy: 0.9041
Epoch 34/75
2577/2577 [==============================] - 68s 26ms/step - loss: 0.3929 - accuracy: 0.9063
Epoch 35/75
2577/2577 [==============================] - 68s 26ms/step - loss: 0.3895 - accuracy: 0.9063
Epoch 36/75
2577/2577 [==============================] - 68s 26ms/step - loss: 0.3824 - accuracy: 0.9069
Epoch 37/75
2577/2577 [==============================] - 68s 26ms/step - loss: 0.3791 - accuracy: 0.9081
Epoch 38/75
2577/2577 [==============================] - 68s 26ms/step - loss: 0.3771 - accuracy: 0.9071
Epoch 39/75
2577/2577 [==============================] - 67s 26ms/step - loss: 0.3695 - accuracy: 0.9094
Epoch 40/75
2577/2577 [==============================] - 67s 26ms/step - loss: 0.3705 - accuracy: 0.9081
Epoch 41/75
2577/2577 [==============================] - 67s 26ms/step - loss: 0.3665 - accuracy: 0.9095
Epoch 42/75
2577/2577 [==============================] - 67s 26ms/step - loss: 0.3643 - accuracy: 0.9089
Epoch 43/75
2577/2577 [==============================] - 67s 26ms/step - loss: 0.3579 - accuracy: 0.9098
Epoch 44/75
2577/2577 [==============================] - 67s 26ms/step - loss: 0.3592 - accuracy: 0.9092
Epoch 45/75
2577/2577 [==============================] - 67s 26ms/step - loss: 0.3598 - accuracy: 0.9092
Epoch 46/75
2577/2577 [==============================] - 67s 26ms/step - loss: 0.3555 - accuracy: 0.9096
Epoch 47/75
2577/2577 [==============================] - 68s 27ms/step - loss: 0.3538 - accuracy: 0.9095
Epoch 48/75
2577/2577 [==============================] - 70s 27ms/step - loss: 0.3492 - accuracy: 0.9107
Epoch 49/75
2577/2577 [==============================] - 69s 27ms/step - loss: 0.3510 - accuracy: 0.9099
Epoch 50/75
2577/2577 [==============================] - 68s 27ms/step - loss: 0.3518 - accuracy: 0.9091
Epoch 51/75
2577/2577 [==============================] - 68s 26ms/step - loss: 0.3535 - accuracy: 0.9084
Epoch 52/75
2577/2577 [==============================] - 69s 27ms/step - loss: 0.3469 - accuracy: 0.9102
Epoch 53/75
2577/2577 [==============================] - 68s 26ms/step - loss: 0.3466 - accuracy: 0.9102
Epoch 54/75
2577/2577 [==============================] - 68s 27ms/step - loss: 0.3465 - accuracy: 0.9101
Epoch 55/75
2577/2577 [==============================] - 67s 26ms/step - loss: 0.3462 - accuracy: 0.9097
Epoch 56/75
2577/2577 [==============================] - 68s 26ms/step - loss: 0.3469 - accuracy: 0.9092
Epoch 57/75
2577/2577 [==============================] - 68s 26ms/step - loss: 0.3522 - accuracy: 0.9084
Epoch 58/75
2577/2577 [==============================] - 67s 26ms/step - loss: 0.3421 - accuracy: 0.9100
Epoch 59/75
2577/2577 [==============================] - 68s 26ms/step - loss: 0.3419 - accuracy: 0.9106
Epoch 60/75
2577/2577 [==============================] - 67s 26ms/step - loss: 0.3431 - accuracy: 0.9098
Epoch 61/75
2577/2577 [==============================] - 67s 26ms/step - loss: 0.3432 - accuracy: 0.9093
Epoch 62/75
2577/2577 [==============================] - 68s 26ms/step - loss: 0.3453 - accuracy: 0.9082
Epoch 63/75
2577/2577 [==============================] - 67s 26ms/step - loss: 0.3413 - accuracy: 0.9093
Epoch 64/75
2577/2577 [==============================] - 68s 26ms/step - loss: 0.3479 - accuracy: 0.9079
Epoch 65/75
2577/2577 [==============================] - 67s 26ms/step - loss: 0.3369 - accuracy: 0.9102
Epoch 66/75
2577/2577 [==============================] - 68s 26ms/step - loss: 0.3424 - accuracy: 0.9098
Epoch 67/75
2577/2577 [==============================] - 67s 26ms/step - loss: 0.3419 - accuracy: 0.9086
Epoch 68/75
2577/2577 [==============================] - 68s 26ms/step - loss: 0.3469 - accuracy: 0.9071
Epoch 69/75
2577/2577 [==============================] - 68s 26ms/step - loss: 0.3451 - accuracy: 0.9069
Epoch 70/75
2577/2577 [==============================] - 67s 26ms/step - loss: 0.3372 - accuracy: 0.9099
Epoch 71/75
2577/2577 [==============================] - 67s 26ms/step - loss: 0.3410 - accuracy: 0.9083
Epoch 72/75
2577/2577 [==============================] - 68s 26ms/step - loss: 0.3379 - accuracy: 0.9083
Epoch 73/75
2577/2577 [==============================] - 67s 26ms/step - loss: 0.3474 - accuracy: 0.9062
Epoch 74/75
2577/2577 [==============================] - 67s 26ms/step - loss: 0.3436 - accuracy: 0.9062
Epoch 75/75
2577/2577 [==============================] - 67s 26ms/step - loss: 0.3423 - accuracy: 0.9069

In [47]:
seed_text = "I'm really not up"
next_words = 2
for _ in range(next_words):
    token_list = tokenizer.texts_to_sequences([seed_text])[0]
    token_list = pad_sequences([token_list], maxlen=max_seq-1, padding='pre')
    predicted = model.predict(token_list, verbose=0)
    predicted= np.argmax(predicted,axis=1)
    output_word = ""
    for word, index in tokenizer.word_index.items():
        if index == predicted:
            output_word = word
            break
    seed_text += " " + output_word
print(seed_text)

I'm really not up to it

In [46]:
data[88]

"I'm really not up to it still tonight babe"